[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./manage.py,
       ./medical_scheduling/config/*,
       ./medical_scheduling/wsgi.py,
       *__init__*
